body{
    background-color: black;
    width: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#moon{
    width: 512px;
    height: 512px;
    border-radius: 256px;
    background-color: white;
    z-index: 5;
    position: fixed;
    top: 15%;
    right: -15%;
    opacity: 1;
}

.bg{
    transform: translate(35%,-30%);
}

#bg{
    transform: rotateZ(-0deg);
}


#naksatra-nama{
    position: fixed;
    left: 2%;
    top: 5%;
    /* color: white; */
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}