body {
    background-color: black;
    width: 100%;
    overflow: hidden;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #loading {
    width: 100%;
    height: 100%;
    font-size: 3em;
    background: black;
    border: white 1px;
    color: white;
    text-align: center;
    position: fixed;
    padding: 20% 0;
    top: 0%;
    z-index: 10;
    transition: 0.5s ease;
  }
  
  .bg {
    transform: translate(30%, -25%);
  }
  
  #naksatra-nama {
    position: absolute;
    right: 20%;
    top: 43%;
    background-color: white;
    border-radius: 5px;
    padding: 0.25em 0;
    font-size: 2.5em;
    font-weight: bold;
    width: 5.25em;
    text-align: center;
  }
  
  #nakstra-map {
    position: absolute;
    right: 17%;
    top: 25%;
    z-index: 9;
  }
  
  #moon {
    width: 128px;
    height: 128px;
    border-radius: 64px;
    background-color: white;
    z-index: 5;
    position: absolute;
    top: 40%;
    right: 45%;
    opacity: 1;
  }
  
  #range-band {
    width: 100%;
    height: 128px;
    background: linear-gradient(
      to left,
      white,
      white,
      transparent,
      transparent,
      transparent
    );
    z-index: 4;
    position: absolute;
    top: 40%;
    right: 48%;
    opacity: 0.25;
  }
  
  @media screen and (max-height: 720px) and (max-width: 1280px) {
    .bg {
      transform: translate(25%, -19.5%);
    }
  }
  
  @media screen and (max-height: 900px) and (max-width: 450px) {
  
      html, body{
          overflow: hidden;
          margin: 0;
      }
  
    .bg {
      transform: translate(3%, -28%);
      width: 2048px;
      height: 2048px;
      /* transform: scale(.75, .75); */
    }
  
    #moon {
      display: none;
    }
  
    #naksatra-nama {
      position: fixed;
      width: 4em;
      top: 1%;
      left: 2%;
      height: 2em;
      padding: 0.5em 0 0;
      margin: 0;
      opacity: 0.5;
      font-size: 1.25em;
    }
  
    #range-band {
      position: absolute;
      top: 37.5%;
      right: 0%;
      height: 192px;
      background: linear-gradient(
          to left,
          white,
          white,
          transparent
        );
    }
  }
  
  
  @media (min-width: 700px) and (max-width:800px) and (max-height: 1080px){
      html, body{
          overflow: hidden;
          margin: 0;
      }
  
    .bg {
      transform: translate(3%, -27%);
      width: 2048px;
      height: 2048px;
      /* transform: scale(.75, .75); */
    }
  
    #moon {
      display: none;
    }
  
    #naksatra-nama {
      position: fixed;
      width: 4em;
      top: 1%;
      left: 2%;
      height: 2em;
      padding: 0.5em 0 0;
      margin: 0;
      opacity: 0.5;
      font-size: 1.25em;
    }
  
    #range-band {
      position: absolute;
      top: 37.5%;
      right: 0%;
      height: 192px;
      background: linear-gradient(
          to left,
          white,
          white,
          transparent
        );
    }
  }

	@media (min-width:2000px) and (max-width:2560px){
		
		.bg{
				transform: translate(30%,-22%);
		}

		#moon{
				width: 256px;
				height: 256px;
				border-radius:256px;
				position: fixed;
				transform: translateX(40%);
		}
		
		#range-band{
				height:256px;
				transform: translateX(3%);
		}
		
		#naksatra-nama{
				height:2em;
				padding: 0.5em 0 0;
				transform: translate(0,35%);
		}

	}
